<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
</head>
<body>
    <p class="font-serif text-9xl">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem magni possimus at doloribus. Perferendis ipsam itaque fugiat quas quis quasi ex amet inventore quidem. Nesciunt debitis quam magnam voluptate deleniti!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quo consequuntur dignissimos et, deleniti temporibus facere debitis, possimus sint fugit sunt dolorum. Voluptate placeat tempora a autem rem sint ducimus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed voluptatem excepturi explicabo consequuntur quidem distinctio debitis enim doloremque, a voluptates alias iusto, eveniet rerum adipisci aliquid consectetur temporibus corrupti fugiat.
    </p>
</body>
</html>