{% extends 'views/layout.html' %}

{% block content %}
    <div style="color: white; margin-top: 12px;">
        <h1 class="font-sans text-xl" style="font-weight: 500; margin-bottom: 10px;" >About</h1>
        <p>
            Make sure your password is strong and secure. A good password also consists of capital letters, special character such as #@&% and numbers. Also, it is 
            important to mention that the longer the password, the safer. 
            <br> <br>
            Weak passwords are easily cracked. That is why you should try to create a strong password: 
            <ul style="  list-style: circle; padding-left: 1rem;">
                <li>
                    Passwords should be long. 
                </li>
                <li>
                    Passwords should contain at least 12 characters 
                </li>
                <li>
                    Passwords should contain at least 1 uppercase letter
                </li>
                <li>
                    Passwords should contain at least 1 lowercase letter
                </li>
                <li>
                    Passwords should contain at least 1 numerical character
                </li>
                <li>
                    Symbol characters are encouraged (e.g. @#$%^&!.)
                </li>
            </ul>
            <br> 
            With this application you can generate a safe password of maximum 20 characters with capital letters, special characters and
            numbers.
            <p> 
                <b><u>Important:</u></b> This application was created with a Fazt Code video. You can find it here: 
                <a target="_blank" style="color:#2262db; text-decoration:underline" href="https://www.youtube.com/watch?v=I0m92SBfDI8&t=3752s">Django web site</a>
            </p> 
            <br> 
            <p>
                Created with love ♡ by <a target="_blank" href="https://github.com/Meliwi">Meliwi</a>
            </p>

        </p>
    </div>

{% endblock %}