{% extends 'views/layout.html'%}
{% block content %}
<!--With action property we indicate route we want this form redirect-->
<div class="flex justify-center items-center absolute" style="top: 30%; left:38%">
    <form class="flex" style="flex-direction: column; background-color: #121212; color: white; padding: 3rem;" action="{% url 'password' %}">
        <h1 class="prose prose-xl" style="color: white;">Password Generator</h1>
        <div class="flex text-center" style="flex-direction: column; max-width: 289px;">
            <label for="length"> Select lenght of your password</label>
            <select name="length" id="length">
                <option value="6">6 characters</option>
                <option value="7">7 characters</option>
                <option value="8">8 characters</option>
                <option value="9">9 characters</option>
                <option value="10">10 characters</option>
                <option value="11">11 characters</option>
                <option value="12">12 characters</option>
                <option value="13">13 characters</option>
                <option value="14">14 characters</option>
                <option value="15">15 characters</option>
                <option value="16">16 characters</option>
                <option value="17">17 characters</option>
                <option value="18">18 characters</option>
                <option value="19">19 characters</option>
                <option value="20">20 characters</option>
            </select>
            <div>
                <input type="checkbox" name="uppercase" id="uppercase">
                <label for="uppercase">uppercase</label>
            </div>
            <div>
                <input type="checkbox" name="special" id="special">
                <label for="special">Special characters</label>
            </div>
            <div>
                <input type="checkbox" name="numbers" id="numbers">  
                <label for="numbers">Numbers</label>
            </div>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Generate password</button>
        </div>
    </form>
</div>
{% endblock%}