{% extends 'views/layout.html'%}
{% block content %}
<!--With action property we indicate route we want this form redirect-->
<div class="flex justify-center items-center absolute" style="top: 20%; left:38%">
    <form class="flex" style="flex-direction: column; background-color: #121212; color: white; padding: 3rem; gap: 1rem; border-radius: 0.25rem;" action="{% url 'password' %}">
        <h1 style="color: white; font-weight: 500; font-size: 2.6rem; line-height: 1.2; text-align: center;">Password <br> Generator</h1>
        <div class="flex text-center" style="flex-direction: column; max-width: 289px;">
            <label for="length" style="font-size: 1rem; margin-bottom: 0.5rem;"> Select lenght of your password: </label>
            <select style="border-radius: 0.25rem; color:#212529; padding: 0.375rem 0.75rem;   -webkit-appearance: none; -moz-appearance: none;   text-indent: 1px;
            text-overflow: '';" name="length" id="length">
                <option value="6">6 characters</option>
                <option value="7">7 characters</option>
                <option value="8">8 characters</option>
                <option value="9">9 characters</option>
                <option value="10">10 characters</option>
                <option value="11">11 characters</option>
                <option value="12">12 characters</option>
                <option value="13">13 characters</option>
                <option value="14">14 characters</option>
                <option value="15">15 characters</option>
                <option value="16">16 characters</option>
                <option value="17">17 characters</option>
                <option value="18">18 characters</option>
                <option value="19">19 characters</option>
                <option value="20">20 characters</option>
            </select>
            <div class="flex" style="gap: 0.5rem; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                <input type="checkbox" name="uppercase" id="uppercase">
                <label for="uppercase">Uppercase</label>
            </div>
            <div class="flex" style="gap: 0.5rem; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                <input type="checkbox" name="special" id="special">
                <label for="special">Special characters</label>
            </div>
            <div class="flex" style="gap: 0.5rem; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                <input type="checkbox" name="numbers" id="numbers">  
                <label for="numbers">Numbers</label>
            </div>
            <button style="background-color: #0d6efd; border-color:#0d6efd; border-radius:0.25rem; padding: 0.375rem 0.75rem;">Generate password</button>
        </div>
    </form>
</div>
{% endblock%}