{% extends 'views/layout.html'%}
{% block content %}
<div class="flex justify-center" style="background-color: #121212; color: white; max-width: 400px; margin: auto; border-radius: 0.25rem; text-align: center; margin-top: 10rem; padding: 12px;">
    <div>
        <p class="font-sans text-xl" style="font-weight: 500; margin-bottom: 0.5rem;">Generated password: </p>
        <!--We pass a value for this variable-->
        <p style="margin-bottom: 0.5rem;">{{password}}</p>
        <a href="{% url 'home' %}" style="text-decoration: underline; color: blue;">Go to Home</a>
    </div>
</div>
{% endblock %}